# Risk Assesment and Management
- **Erdem Sirel**
- **Gizem Yıldırım**

# Import and process data

In [51]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import os


def import_and_prepare_data():
    path = os.path.join(os.getcwd(), "data")
    files = [file for file in os.listdir(path) if file.endswith("csv")]

    data = pd.DataFrame()
    for file in files:
        file_data = pd.read_csv(os.path.join(path,file))
        file_data["Şirket"] = file[: file.find(" ")]
        data = data.append(file_data)
    return data

try:
    data = pd.read_csv("https://raw.githubusercontent.com/ahmetsirel/ETM959_Risk_Project/master/data.csv", sep=';')
except:
    data = import_and_prepare_data()
    data.to_csv("data.csv", sep=';', index=False)
    print("data prepared from raw files")
    
#Interst Rates
interest_rates = pd.DataFrame([["13 09 2019",	16.50],
                                ["25 10 2019",	14.00],
                                ["13 12 2019",	12.00],
                                ["17 01 2020",	11.25],
                                ["20 02 2020",	10.75],
                                ["18 03 2020",	9.75],
                                ["23 04 2020",	8.75],
                                ["22 05 2020",	8.25],
                                ["25 09 2020",	10.25],
                                ["20 11 2020",	15.00]],
                            columns=["date", "rate"])
interest_rates["date"] = pd.to_datetime(interest_rates["date"], dayfirst=True) 
interest_rates["rate"] = interest_rates["rate"] / 100
interest_rates = interest_rates.set_index("date")
interest_rates = (interest_rates / 365) * 7 #convert to weekly interest
interest_rates = interest_rates.sort_index(ascending=False)

# Process Columns
data.rename({"Fark %": "return"}, axis=1, inplace=True)
data["Tarih"] = pd.to_datetime(data["Tarih"], dayfirst=True)
data[["Şimdi", "Açılış", "Yüksek", "Düşük"]] = data[
    ["Şimdi", "Açılış", "Yüksek", "Düşük"]
].applymap(lambda x: round(float(str(x).replace(",", ".")), 3))
data["return"] = data["return"].apply(
    lambda x: round(float(str(x).replace(",", ".").replace("%", "")) / 100, 3)
)


data = data[["Şirket", "Tarih", "Şimdi", "return"]]

# Calculate net return by substracting the weekly inflation rate from weekly return
def get_interst(date_):
    return interest_rates[interest_rates.index <=date_].head(1)["rate"].values[0]
data["inflation"] = data.apply(lambda row: get_interst(row["Tarih"]) ,axis=1)
data["net_return"] = data["return"] - data["inflation"]

data = data.sort_values(["Şirket", "Tarih"])
data.head()

   Şirket      Tarih  Şimdi  return  inflation  net_return
51  AEFES 2019-12-15  22.32   0.013   0.002301    0.010699
50  AEFES 2019-12-22  23.34   0.046   0.002301    0.043699
49  AEFES 2019-12-29  23.08  -0.011   0.002301   -0.013301
48  AEFES 2020-01-05  23.62   0.023   0.002301    0.020699
47  AEFES 2020-01-12  25.58   0.083   0.002301    0.080699

# Aggregate data
- Calculate mean and variance for weekly return for each company.
- Create covariance matrix for both return and net return

In [52]:
#Mean & Variance for weekly return
data_agg = data.groupby("Şirket").agg({"return": ["mean", "var"]})
data_agg.columns = data_agg.columns.get_level_values(1)
mean_returns = data_agg["mean"]

#Mean & Variance for weekly net return
data_agg_net = data.groupby("Şirket").agg({"net_return": ["mean", "var"]})
data_agg_net.columns = data_agg_net.columns.get_level_values(1)
mean_net_returns = data_agg_net["mean"]

# Cov for weekly return
cov_data = pd.DataFrame()
for company in data["Şirket"].unique():
    current = data[data["Şirket"] == company]["return"].rename(company)
    cov_data = pd.concat([cov_data, current], axis=1)
cov = cov_data.cov()

# Cov for weekly net return
cov_data_net = pd.DataFrame()
for company in data["Şirket"].unique():
    current = data[data["Şirket"] == company]["net_return"].rename(company)
    cov_data_net = pd.concat([cov_data_net, current], axis=1)
cov_net = cov_data_net.cov()

writer = pd.ExcelWriter("risk.xlsx", engine="xlsxwriter")
data.to_excel(writer, sheet_name="Raw Data")
data_agg.to_excel(writer, sheet_name="Aggregated Data")
cov.to_excel(writer, sheet_name="Covariance Matrix for return")
cov_net.to_excel(writer, sheet_name="Cov. Matrix for net return")

writer.save()

print("Success")

Success

## Calculate 52 week return for each company
$$r_{52w}=(\prod_{week=1}^{52} (r_{week} + 1)) -1 $$

#### Return

In [53]:
def calculate_return(column):
    return np.prod(column.apply(lambda x: x + 1)) - 1

weekly_returns = cov_data.reset_index(drop=True)
rate_of_total_returns = weekly_returns.apply(calculate_return)
rate_of_total_returns

AEFES   -0.020448
AKBNK   -0.214452
DEVA     1.795690
DGKLB    0.531219
ECILC    0.916592
ENJSA    0.447360
ENKAI    0.186614
GOLTS    0.913725
IHLGM    0.459129
SISE     0.440644
THYAO   -0.103348
TTKOM    0.105694
TTRAK    1.984149
ULKER    0.010131
VESTL    0.711300
dtype: float64

#### Net Return

In [54]:
def calculate_return(column):
    return np.prod(column.apply(lambda x: x + 1)) - 1

weekly_returns_net = cov_data_net.reset_index(drop=True)
rate_of_total_returns_net = weekly_returns_net.apply(calculate_return)
rate_of_total_returns_net

AEFES   -0.113492
AKBNK   -0.289360
DEVA     1.534777
DGKLB    0.386233
ECILC    0.736484
ENJSA    0.311097
ENKAI    0.074330
GOLTS    0.733974
IHLGM    0.321144
SISE     0.304739
THYAO   -0.188680
TTKOM    0.000933
TTRAK    1.706085
ULKER   -0.085710
VESTL    0.550321
dtype: float64

# Calculating the portfolio weights
5.Form twoportfolios using different weights,   
* one where weights increase proportional to decreasing standard deviations of individual assets and 
<blockquote>In order to reverse the variance we used the formula For example this formula will swap the highest and lowest mean in order to reverse the order. </blockquote>
\begin{equation*} \ (var\_for\_p2) \   VAR\_reversed  = MAX(VAR) + MIN(VAR) - VAR \end{equation*} 
* one where weights decrease as average returns decrease.  Calculate the means and variancesof both portfolios.
<blockquote>For this one we had a negative mean return for AKBNK. We took its mean as zero in order to calculate proper weight for portfolio. ("mean_for_p1") </blockquote>

In [55]:
data_agg

            mean       var
Şirket
AEFES   0.001135  0.002998
AKBNK  -0.002769  0.003918
DEVA    0.024019  0.009104
DGKLB   0.012962  0.008816
ECILC   0.016327  0.009053
ENJSA   0.008019  0.001804
ENKAI   0.004135  0.001673
GOLTS   0.015673  0.006353
IHLGM   0.011673  0.008453
SISE    0.008385  0.002660
THYAO   0.000115  0.004382
TTKOM   0.003731  0.003567
TTRAK   0.023596  0.004733
ULKER   0.001673  0.002933
VESTL   0.012788  0.004671

In [56]:
data_agg["mean_for_p1"] = data_agg["mean"].apply(lambda x: max([x, 0]))
data_agg["var_for_p2"] =  data_agg["var"].max() + data_agg["var"].min() - data_agg["var"]

In [57]:
data_agg['Portfolio1'] = data_agg["mean_for_p1"] / data_agg["mean_for_p1"].sum()
data_agg['Portfolio2'] = data_agg["var_for_p2"] / data_agg["var_for_p2"].sum()

p1_weights = data_agg['Portfolio1']
p2_weights = data_agg['Portfolio2']

print("Check weights", p1_weights.sum(), p2_weights.sum())

Check weights 1.0000000000000002 1.0

In [58]:
data_agg.sort_values("var")

            mean       var  mean_for_p1  var_for_p2  Portfolio1  Portfolio2
Şirket
ENKAI   0.004135  0.001673     0.004135    0.009104    0.028667    0.105195
ENJSA   0.008019  0.001804     0.008019    0.008973    0.055600    0.103682
SISE    0.008385  0.002660     0.008385    0.008118    0.058133    0.093794
ULKER   0.001673  0.002933     0.001673    0.007845    0.011600    0.090638
AEFES   0.001135  0.002998     0.001135    0.007780    0.007867    0.089890
TTKOM   0.003731  0.003567     0.003731    0.007211    0.025867    0.083318
AKBNK  -0.002769  0.003918     0.000000    0.006860    0.000000    0.079264
THYAO   0.000115  0.004382     0.000115    0.006396    0.000800    0.073902
VESTL   0.012788  0.004671     0.012788    0.006107    0.088667    0.070561
TTRAK   0.023596  0.004733     0.023596    0.006045    0.163600    0.069848
GOLTS   0.015673  0.006353     0.015673    0.004424    0.108667    0.051120
IHLGM   0.011673  0.008453     0.011673    0.002325    0.080933    0.026862
DGKLB   0.012962  0.008816     0.012962    0.001962    0.089867    0.022666
ECILC   0.016327  0.009053     0.016327    0.001725    0.113200    0.019927
DEVA    0.024019  0.009104     0.024019    0.001673    0.166533    0.019335

# Calculate Portfolio Parameters
 - Mean return of the portfolio (w)
 - Variance of the portfolio
 - Rate of Return of the portfolio (52w)

### Return

#### Portfolio 1

In [59]:
# multiply weights
def mul_weight(row_column):
    
    return np.multiply(row_column, p1_weights)

cov_p1 = cov.apply(mul_weight, axis=1).apply(mul_weight, axis=0)

In [60]:
p1_parameters = pd.DataFrame.from_dict({"Rate of Return of the portfolio (52w)": [np.matmul(rate_of_total_returns, p1_weights)],
                                        "Mean return of the portfolio (w)": [np.matmul(p1_weights, mean_returns)],
                                        "Variance of the portfolio": [cov_p1.sum().sum()]}).rename({0:"Portfolio 1"})
p1_parameters

,Rate of Return of the portfolio (52w),Mean return of the portfolio (w),Variance of the portfolio
Portfolio 1,1.033112,0.015832,0.000752

#### Portfolio 2

In [61]:
# multiply weights
def mul_weight2(row_column):
    
    return np.multiply(row_column, p2_weights)

cov_p2 = cov.apply(mul_weight2, axis=1).apply(mul_weight2, axis=0)

In [62]:

p2_parameters = pd.DataFrame.from_dict({"Rate of Return of the portfolio (52w)": [np.matmul(rate_of_total_returns, p2_weights)],
                                        "Mean return of the portfolio (w)": [np.matmul(p2_weights, mean_returns)],
                                        "Variance of the portfolio": [cov_p2.sum().sum()]}).rename({0:"Portfolio 2"})
p2_parameters

,Rate of Return of the portfolio (52w),Mean return of the portfolio (w),Variance of the portfolio
Portfolio 2,0.40344,0.007155,0.000264

In [63]:
portfolio_parameters = p1_parameters.append(p2_parameters)
portfolio_parameters

,Rate of Return of the portfolio (52w),Mean return of the portfolio (w),Variance of the portfolio
Portfolio 1,1.033112,0.015832,0.000752
Portfolio 2,0.403440,0.007155,0.000264

### Net Return

#### Portfolio 1

In [64]:
# multiply weights
def mul_weight(row_column):
    
    return np.multiply(row_column, p1_weights)

cov_p1_net = cov_net.apply(mul_weight, axis=1).apply(mul_weight, axis=0)

In [65]:
p1_parameters_net = pd.DataFrame.from_dict({"Rate of Net Return of the portfolio (52w)": [np.matmul(rate_of_total_returns_net, p1_weights)],
                                        "Mean net return of the portfolio (w)": [np.matmul(p1_weights, mean_net_returns)],
                                        "Variance of the portfolio": [cov_p1_net.sum().sum()]}).rename({0:"Portfolio 1"})

#### Portfolio 2

In [66]:
# multiply weights
def mul_weight2(row_column):
    
    return np.multiply(row_column, p2_weights)

cov_p2_net = cov.apply(mul_weight2, axis=1).apply(mul_weight2, axis=0)

In [67]:

p2_parameters_net = pd.DataFrame.from_dict({"Rate of Net Return of the portfolio (52w)": [np.matmul(rate_of_total_returns_net, p2_weights)],
                                        "Mean net return of the portfolio (w)": [np.matmul(p2_weights, mean_net_returns)],
                                        "Variance of the portfolio": [cov_p2_net.sum().sum()]}).rename({0:"Portfolio 2"})

In [68]:
portfolio_parameters_net = p1_parameters_net.append(p2_parameters_net)
portfolio_parameters_net

,Rate of Net Return of the portfolio (52w),Mean net return of the portfolio (w),Variance of the portfolio
Portfolio 1,0.842461,0.013920,0.000753
Portfolio 2,0.271134,0.005243,0.000264

# 6.1 Probability of Gaining Positive Return
Assuming the average weekly return of a portfolio is normally distributed with
the parameter values you have collected   
calculate the **probability of gaining a
positive return**   
and the probability of gaining a return above the inflation rate
(rate banks loan money). You need weekly rates.

In [69]:
portfolio_parameters

,Rate of Return of the portfolio (52w),Mean return of the portfolio (w),Variance of the portfolio
Portfolio 1,1.033112,0.015832,0.000752
Portfolio 2,0.403440,0.007155,0.000264

In [70]:
portfolio_parameters["z-value"] = (
    (0 - portfolio_parameters["Mean return of the portfolio (w)"]) / 
        portfolio_parameters[ "Variance of the portfolio"] 
                                    )
portfolio_parameters["p-value"] = portfolio_parameters["z-value"].apply(lambda z: stats.norm.sf(abs(z)))

In [71]:
portfolio_parameters

,Rate of Return of the portfolio (52w),Mean return of the portfolio (w),Variance of the portfolio,z-value,p-value
Portfolio 1,1.033112,0.015832,0.000752,-21.041810,1.359018e-98
Portfolio 2,0.403440,0.007155,0.000264,-27.152231,1.191507e-162

# 6.1 Probability of Gaining Return Above Inflation
Assuming the average weekly return of a portfolio is normally distributed with
the parameter values you have collected   
calculate the probability of gaining a
positive return   
and the **probability of gaining a return above the inflation rate**
(rate banks loan money). You need weekly rates.

In [72]:
portfolio_parameters_net

,Rate of Net Return of the portfolio (52w),Mean net return of the portfolio (w),Variance of the portfolio
Portfolio 1,0.842461,0.013920,0.000753
Portfolio 2,0.271134,0.005243,0.000264

In [73]:
portfolio_parameters_net["z-value"] = (
    (0 - portfolio_parameters_net["Mean net return of the portfolio (w)"]) / 
        portfolio_parameters_net[ "Variance of the portfolio"] 
                                    )
portfolio_parameters_net["p-value"] = portfolio_parameters_net["z-value"].apply(lambda z: stats.norm.sf(abs(z)))

In [74]:
portfolio_parameters_net

,Rate of Net Return of the portfolio (52w),Mean net return of the portfolio (w),Variance of the portfolio,z-value,p-value
Portfolio 1,0.842461,0.013920,0.000753,-18.491818,1.201567e-76
Portfolio 2,0.271134,0.005243,0.000264,-19.895536,2.224137e-88